<!--vincular as propried escritas no ts-->

<div class = "content">
    <h2>Interpolation Data Blinding</h2>
    <span>o número descrito eh: {{x}}</span>
    <br /> <br />
    <span>o array de numeros eh: {{ umArray }}</span>
    <br /> <br />
    <span>a data de hoje  eh: {{ dataHoje}}</span>
    <br /> <br />
    <span>o status booleano eh: {{ statusBooleano}}</span>
    <br /> <br />
    <span>{{statusBooleano ? "resultado True": "resultado False"}}</span>
    <br /> <br />
    <span> {{exibirTexto}}</span>
    <br /> <br />

</div>
