<!--
Agora, vamos implementar a estrutura da view para capturamos os dados 
que serão enviados para o component-pai. 
Antes de ser enviado para o component-pai, os dados serão vinculados ao
arquivo output.conponemt.ts para q a estrut log cumpra seu papel -->

<div>
    <h2> Implementação Output Property</h2>
    <br />
        Informe seu nome: <input type="text" [(ngModel)] = "objDados.nome"/>
    <br/>
        Informe seu nome: <input type="email" [(ngModel)] = "objDados.email"/>
    <br>
    <div class="box">
        <input type="button" value = "Enviar" (click) = "enviarDados()"/>
    </div>
</div>
